.loginBox{
    position: relative;
    display: flex;
    width: 448px;
    border-radius: 16px;
    height: 344px;
    background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container {
    display: flex;
    padding: 36px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px
}


.backImg {
    background-image: url('../src/assets/images/backImagee.png');
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-repeat: no-repeat;
  }


.loginText {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px
}

.btn {
    display: flex;
width: 384px;
padding: 17px 106px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 16px;
background: #DCA940;
color: white;
font-size: 12px;
border: none;
cursor: pointer;
&:hover {
    animation: btn-push 0.4s linear 1
}
}

@keyframes btn-push {
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.container .block {
    display: flex;
    flex-direction: column;
    gap: 8px;
}