.navbar {
display: flex;
width: 1055px;
height: 8vh;
padding: 28px 95px 27px 906px;
justify-content: flex-end;
align-items: center;
flex-shrink: 0;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}