@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}


html {
  scrollbar-width: none;
}

input {
  width: 384px;
height: 35px;
border: none;
border: 1px solid #B6B6B6;
background: transparent;
border-radius: 8px;
font-size: 12px;
color: gray;
}

h1, h3 {
  color: rgb(70, 70, 70);
}

h3 {
  font-weight: 600;
  font-size: 16px;
}
