* {
  margin: 0;
  padding: 0;
}

.backImg {
  background-image: url('../src/assets/images/backImagee.png');
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

html {
  scrollbar-width: none;
}

input {
  width: 384px;
height: 45px;
border: none;
border: 1px solid #B6B6B6;
background: transparent;
}